#include "TargetVersion.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_IDENTITY = iPhone Developer
ENABLE_PREVIEWS = YES
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
FRAMEWORK_SEARCH_PATHS = $(inherited) 
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
HEADER_SEARCH_PATHS = $(inherited)
INFOPLIST_FILE = Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 16.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
MARKETING_VERSION = $(TARGET_VERSION)
OTHER_CFLAGS = $(inherited)
OTHER_LDFLAGS = -ObjC
OTHER_SWIFT_FLAGS = $(inherited)
PRODUCT_NAME = ACNH_wiki
SDKROOT = iphoneos
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
