name: Check build
on:
  pull_request:
    branches: [ "develop" ]
  
  issue_comment:
    types: created

jobs:
  build:
    name: Check Build
    runs-on: macos-26
    if: >
      github.event_name == 'pull_request' || 
      (github.event_name == 'issue_comment' && 
      github.event.issue.pull_request != null &&
      github.event.comment.body == '/build')

    steps:
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: "6.2"
      - name: Get swift version
        run: swift --version

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.1.1'

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 1

      - name: Install Mise
        run: |
            curl https://mise.run | sh
            mise install

      - name: Install Tuist
        run: |
          mise install tuist
          mise use tuist
          echo "Adding tuist to PATH..."
          export PATH="$HOME/.local/share/mise/plugins/tuist/bin:$PATH"
          echo "New PATH: $PATH"
          mise which tuist || echo "Tuist path not found"

      - name: Install Tuist dependencies
        run: mise x -- tuist install

      - name: Install Tuist Generate
        run: mise x -- tuist generate --no-open

      - name: Build Project
        run: |
          xcodebuild \
            -workspace Animal-Crossing-Wiki.xcworkspace \
            -scheme ACNH-wiki \
            -destination generic/platform="iOS Simulator" \
            -configuration Debug \
            build
